
@media (min-width:0px) and (max-width:2000px){
.Main-div{
    width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: white ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  max-width: 220px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  align-items: center;
  text-align: center;
}

.for-you{
  margin-left: 20px;
}

.text{
    color:#9b2d30;
    font-size: 45px;
    margin-left: -20px;
}

.gap{
    margin-top: -30px;
}

.btn{
    margin-left: 5px;
    background-color: #9b2d30;
    color: white;
}

.svg{
    width: 15rem;
    margin-left: -9px;
}}